{
    "site": "$site",
    "username": "$username",
    "password": "$password",
    "mqttBroker": "$mqttBroker",
    "mqttUsername": "$mqttUsername",
    "mqttPassword": "$mqttPassword",
    "includeRoomsAsLights": "$includeRoomsAsLights",
    "preferCachedApiResponse": "$preferCachedApiResponse",
    "updatePlejdClock": "$updatePlejdClock",
    "logLevel": "$logLevel",
    "connectionTimeout": $connectionTimout,
    "writeQueueWaitTime": $writeQueueWaitTime
}